<h1>Filiais</h1>

<%= link_to 'Registrar uma nova filial', new_subsidiary_path %>

<% @subsidiaries.each do |subsidiary| %>
  <h3><%= subsidiary.name %></h3>
  <p><%= subsidiary.address %></p>
<% end %>